.Header{
    display: flex;

}
.Header a{
    text-decoration: none;
    font-size: 20px;
    color: silver;
    margin-right: 10px;

}
.Header a[class='active']{
    color: black;

}

/*.NavLink{*/
/*    margin-right: 10px;*/

/*}*/